/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  height: 40vw;
  color: rgba(255,255,255,.9);

}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  nav .brand-logo {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width : 600px) {

  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.tint {
  background-color: rgb(58, 154, 217);
  display: inline-block;
}

.opacity {
  opacity: 0.6;
}

.sea-green {
  background-color: RGBA(0, 177, 166, 1)
}

.sea-green-text {
  color: rgba(41, 171, 164, 1)
}

h5 {
  font-size: 1.377rem;
  line-height: 1.804rem;
  margin: 0.82rem 0 0.656rem 0; }

i.tiny {
  font-size: 0.75rem
}

.photo {
  height: 11vw;
  margin: 5px;
  margin-top: 10px;
  background-color: rgb(58, 154, 217);
  position: relative;
  display: inline-block;
  -webkit-transition: scale(1, 1);
  -webkit-transition-duration: 100ms;
}

.photo:hover { 
   /*Webkit for Chrome and Safari */
  -webkit-transform: scale(1.025, 1.025);
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
 
   /*Webkit for Mozila Firefox */
  -moz-transform: scale(1.025, 1.025);
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: ease-out;
 
   /*Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.025, 1.025);
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: ease-out;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
}

.first-row {
  margin-bottom: 0px;
}

.parallax-2 {
  height:400px;
}

#lg-outer #lg-gallery .thumb-cont .thumb-inner {
  margin-left: auto;
  margin-right: auto;
}

.white {
  color: white;
}

.scrolloff {
  pointer-events: none;
}

#nav-container {
  width: 90%;
}

.nav-text {
  color: #444;
  font-size: 1rem;
}

.right-nav {
  float:right;
}

.nav-contact-number {
  margin-left: 50px;
}

.pay-rent-btn {
  text-align: right;
  margin-bottom: 10px;
}
  
.skyline-parallax {
  background-color: rgba(0,0,0, .5);
}

.lgItem {
  display: inline;
}